<div class="mt-4">
    <ul class="list-product">
        <li class="product">
            <a href="" class="item">
                <i class="fas fa-mobile-alt"></i>
                <p>Điện thoại</p>
                <i class="fas fa-chevron-right"></i>
            </a>
            <ul class="brand">
                <li><a href="" class="brand-item">
                        <span>Apple</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>Samsung</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>Xiaomi</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>OPPO</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>Nokia</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>

            </ul>
        </li>
        <li class="product">
            <a href="" class="item">
                <i class="fas fa-mobile-alt"></i>
                <p>Laptop</p>
                <i class="fas fa-chevron-right"></i>
            </a>
            <ul class="brand">
                <li><a href="" class="brand-item">
                        <span>Apple</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>Samsung</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>Xiaomi</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>OPPO</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>Nokia</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>

            </ul>
        </li>
        <li class="product">
            <a href="" class="item">
                <i class="fas fa-mobile-alt"></i>
                <p>Tablet</p>
                <i class="fas fa-chevron-right"></i>
            </a>
            <ul class="brand">
                <li><a href="" class="brand-item">
                        <span>Apple</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>Samsung</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>Xiaomi</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>OPPO</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>Nokia</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>

            </ul>
        </li>
        <li class="product">
            <a href="" class="item">
                <i class="fas fa-mobile-alt"></i>
                <p>Âm thanh</p>
                <i class="fas fa-chevron-right"></i>
            </a>
            <ul class="brand">
                <li><a href="" class="brand-item">
                        <span>Apple</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>Samsung</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>Xiaomi</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>OPPO</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>Nokia</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>

            </ul>
        </li>
        <li class="product">
            <a href="" class="item">
                <i class="fas fa-mobile-alt"></i>
                <p>Đồng hồ</p>
                <i class="fas fa-chevron-right"></i>
            </a>
            <ul class="brand">
                <li><a href="" class="brand-item">
                        <span>Apple</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>Samsung</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>Xiaomi</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>OPPO</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>Nokia</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>

            </ul>
        </li>
        {{!-- <li class="product">
            <a href="" class="item">
                <i class="fas fa-mobile-alt"></i>
                <p>Nhà thông minh</p>
                <i class="fas fa-chevron-right"></i>
            </a>
            <ul class="brand">
                <li><a href="" class="brand-item">
                        <span>Apple</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>Samsung</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>Xiaomi</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>OPPO</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>Nokia</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>

            </ul>
        </li>
        <li class="product">
            <a href="" class="item">
                <i class="fas fa-mobile-alt"></i>
                <p>Phụ kiện</p>
                <i class="fas fa-chevron-right"></i>
            </a>
            <ul class="brand">
                <li><a href="" class="brand-item">
                        <span>Apple</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>Samsung</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>Xiaomi</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>OPPO</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>Nokia</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>

            </ul>
        </li>
        <li class="product">
            <a href="" class="item">
                <i class="fas fa-mobile-alt"></i>
                <p>Thu cũ</p>
                <i class="fas fa-chevron-right"></i>
            </a>
            <ul class="brand">
                <li><a href="" class="brand-item">
                        <span>Apple</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>Samsung</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>Xiaomi</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>OPPO</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>Nokia</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>

            </ul>
        </li>
        <li class="product">
            <a href="" class="item">
                <i class="fas fa-mobile-alt"></i>
                <p>Hàng cũ</p>
                <i class="fas fa-chevron-right"></i>
            </a>
            <ul class="brand">
                <li><a href="" class="brand-item">
                        <span>Apple</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>Samsung</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>Xiaomi</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>OPPO</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>Nokia</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>

            </ul>
        </li>
        <li class="product">
            <a href="" class="item">
                <i class="fas fa-mobile-alt"></i>
                <p>Sim thẻ</p>
                <i class="fas fa-chevron-right"></i>
            </a>
            <ul class="brand">
                <li><a href="" class="brand-item">
                        <span>Apple</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>Samsung</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>Xiaomi</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>OPPO</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>Nokia</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>

            </ul>
        </li>
        <li class="product">
            <a href="" class="item">
                <i class="fas fa-mobile-alt"></i>
                <p>Tin công nghệ</p>
                <i class="fas fa-chevron-right"></i>
            </a>
            <ul class="brand">
                <li><a href="" class="brand-item">
                        <span>Apple</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>Samsung</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>Xiaomi</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>OPPO</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>Nokia</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>

            </ul>
        </li>
        <li class="product">
            <a href="" class="item">
                <i class="fas fa-mobile-alt"></i>
                <p>Khuyến mãi</p>
                <i class="fas fa-chevron-right"></i>
            </a>
            <ul class="brand">
                <li><a href="" class="brand-item">
                        <span>Apple</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>Samsung</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>Xiaomi</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>OPPO</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
                <li><a href="" class="brand-item">
                        <span>Nokia</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>

            </ul>
        </li> --}}

    </ul>

    <div class="phone-highlights">
        <a href="">
            <h3>ĐIỆN THOẠI NỔI BẬT NHẤT</h3>
        </a>
        <ul class="brand-highlights">
            <li><a href="">Apple</a></li>
            <li><a href="">SamSung</a></li>
            <li><a href="">Xiaomi</a></li>
            <li><a href="">OPPO</a></li>
            <li><a href="">Nokia</a></li>
        </ul>
    </div>
    <div class="mt-4">
        <div class="row list-apple">
            {{#each stores}}
            <div class="col-sm-6 col-lg-2 mt-4">
                <a href="/telephone/{{this.slug}}" class="card-outside">
                    <div class="card card-item">
                        <img src="{{this.image}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="card-title">{{this.name}}</h3>
                            <span class="card-text price-new">{{this.price}}</span>
                            <span class="price-old">{{this.priceold}}</span>
                        </div>

                        <ul class="list-star">
                            <li><a href=""></a><i class="fas fa-star"></i></li>
                            <li><a href=""></a><i class="fas fa-star"></i></li>
                            <li><a href=""></a><i class="fas fa-star"></i></li>
                            <li><a href=""></a><i class="fas fa-star"></i></li>
                            <li><a href=""></a><i class="fas fa-star"></i></li>
                        </ul>

                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="phone-highlights mt-4">
        <a href="">
            <h3>LAPTOP NỔI BẬT NHẤT</h3>
        </a>
        <ul class="brand-highlights">
            <li><a href="">Apple</a></li>
            <li><a href="">SamSung</a></li>
            <li><a href="">Xiaomi</a></li>
            <li><a href="">OPPO</a></li>
            <li><a href="">Nokia</a></li>
        </ul>
    </div>
    <div class="mt-4">
        <div class="row list-apple">

            {{#each samsungs}}
            <div class="col-sm-6 col-lg-2 mt-4">
                <a href="{{this.slug}}" class="card-outside">
                    <div class="card card-item">
                        <img src="{{this.image}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="card-title">{{this.name}}</h3>
                            <p class="card-text">{{this.price}}</p>
                        </div>
                    </div>
                </a>
            </div>
            {{/each}}
        </div>
    </div>


</div>